h1{
  text-align: center;
}
img{
  margin: auto;
  display: block
};
a{
  text-align: center;
  padding:10px;
  background-color: grey;
}
figcaption{
  font-size: small;
  text-align: center;
}
p1{
  width: 800px;
  text-align:center;
}
div{
  float: left;
  width: 25%;
  background-color: red;
}
nav{
  text-align: center;
}